.issue-info-container,
.issuable-info-container
{
  flex-wrap: wrap;
}

.labels {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.content-list .labels-module {
  display: table-cell;
  position: relative;
  padding-left: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content-list .labels-module::before {
  content: "";
  position: absolute;
  right: 0px;
  width: 1px;
  top: 3px;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.1);
  z-index: 0;
}

.content-list .labels-module::after {
  content: attr(data-module);
  position: absolute;
  left: 5px;
  top: 4px;
  font-size: 12px;
  opacity: 0.15;
  z-index: 0;
}

#content-body .label-link {
  position: relative;
  z-index: 10;
  display: inline-block;
}

.right-sidebar .labels-module {
  min-height: 36px;
}

.right-sidebar .labels-module::before {
  content: attr(data-module);
  display: block;
  margin-top: 8px;
  margin-bottom: 3px;
  font-size: 12px;
  opacity: 0.5;
}

body.refined-gitlab--disableLabelColors .color-label {
  background-color: #9a9a9a !important;
  color: white !important;
}

body.refined-gitlab--hideRepoAvatars .project-avatar {
  display: none;
}

body.refined-gitlab--hideRepoAvatars .project-row .avatar-container {
  display: none;
}

.mr-widget-footer {
  display: none;
}
